<%- include('detailLayout/header')%>
<div class="container">
    <div class="row">
       <div class="col-lg-12">
        <h1>hospital_dashboard11</h1>
        <!-- list of hospital -->
        
      </div> 
      <div class="card" style="width: 18rem;">
        <img src="/clinic1.jpeg" class="card-img-top" alt="clinic">
        <div class="card-body">
          <h5 class="card-title">hospitalName</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/hospitaldetail" class="btn btn-primary">Readmore</a>
          <a href="/appointmentform" class="btn btn-primary">Appointment</a>
      
        </div>
      </div>
    </div>
</div>
<%- include('detailLayout/footer')%>